.App {
  text-align: center;
  padding-bottom: 20px;
}

#listproduct {
  background-color: #7fffd4;
  border: 2px solid gray;
  padding: 10px;
}

.Nomer1 {
  text-align: left;
  font-family: Copperlate, fantasy;
  padding-left: 20px;
}

.Nomer2 {
  text-align: left;
  font-family: Copperlate, fantasy;
  padding-left: 20px;
}
